header {
  background-color: var(--Background-Night-Black-Opacity);
  height: auto;
  margin: 0 auto;
  padding: .5em;
  position: fixed;
  width: 100%;
}

.nav-title {
  font-family: 'Lobster', cursive;
  color: var(--Icon-Chetwode-Blue);
}


#bars {
  cursor: pointer;
  color: rgb(239, 230, 253);
  display: flex;
  font-size: 3.5rem;
  position: absolute;
  right: .5em;
  top: .5em;
}

.navbar {
  position: absolute;
  transition: all ;
  visibility: hidden;
  width: 100%;
}

.nav--visible {
  height: auto;
  position: relative;
  visibility: visible;
}

.nav-list {
  padding: 1em 0;
  text-align: center;
  font-weight: 500;
}

.nav-list li {
  list-style: none;
  padding: .3em 0;
}

#bars:hover,
#bars:focus {
  color: var(--Icon-Chetwode-Blue);
}
.nav-list li:hover,
.nav-list li:focus {
  background-color: var(--Icon-Chetwode-Blue);
}

.nav-link {
  color: var(--Active-Letter-Gray);
  letter-spacing: .1em;
  text-decoration: none;
  text-transform: uppercase;
}


@media (min-width: 600px) {
  header {
    padding: 3em;

  }
  #navbar {
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    width: 100%;
  }

  #bars {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .nav-list li {
    padding: .5em 1em;
  }

  .nav-title {
    padding-left: .5em;
  }
}