@import url('font-size.css');
@import url('carousel.css');
@import url('form.css');
@import url('navbar.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;600;700;800;900&display=swap');

:root {
  --Button-Anakiwa: hsla(195, 100%, 75%, 0.685);
  --Primary-Background-Violet: hsl(288, 77%, 12%);
  --Secondary-Background-Violet: hsla(289, 72%, 24%, 0.329);
  --Secondary-Background-Persian-Indigo: hsl(269, 75%, 31%);
  --Icon-Chetwode-Blue:hsl(237, 63%, 71%);
  --Primary-Link-Active: hsla(240, 39%, 42%, 0.534);
  --Background-Night-Black: hsl(250, 75%, 2%);
  --Background-Night-Black-Opacity: hsla(252, 86%, 5%, 0.938);

  --Active-Icon-Alice-Purple: hsl(263, 85%, 95%);
  --Active-Letter-Gray: hsl(264, 7%, 86%);
  --Active-Icon-Lila: hsl(263, 54%, 83%);

  --Background-Image-Theme: url('https://images.unsplash.com/photo-1514771206769-bd41b0138cc0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');

  --Box-Shadow-Dark: hsl(288, 77%, 12%) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, hsl(288, 77%, 12%) 0px -2px 6px 0px inset;
  --Box-Shadow-Light-Btn: hsl(263, 54%, 83%) 0px 50px 200px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, hsl(263, 54%, 83%) 0px -2px 6px 0px inset;
  --Box-Shadow-Color-Btn: hsla(195, 100%, 75%, 0.685) 0px 50px 200px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, hsla(195, 100%, 75%, 0.171) 0px -2px 6px 0px inset;
}

/* .light {

} */

*, *::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--Active-Letter-Gray);
  font-family: 'Rubik', sans-serif;  
  font-size: 1.8em;
}

.wrapper {
  background-color: var(--Primary-Background-Violet);

}

.print-view {
  display: none;
}

.web-view {
  display: block;
}

.only-print {
  display: none;
}

#welcome-section {
  align-items: center;
  background-image: var(--Background-Image-Theme);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.settings {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.5rem;
  top: 7rem;
}

.settings-list {
  padding: 0;
  visibility: hidden;
}

.setting--visible {
  visibility: visible;
}

.settings-list li {
  list-style: none;
  padding: .3em 0;
}

.settings-btn {
  background-color: transparent;
  border: 3px solid var(--Icon-Chetwode-Blue);
  border-radius: 10px;
  padding: .5em;
}

.icon-btn-set {
  padding: 0;
  font-size: 1.5em;
  color: var(--Active-Icon-Lila);
}

#icon-setting {
  margin-bottom: .5em;
}

#icon-setting:active {
  background-color: var(--Icon-Chetwode-Blue);
}

.settings-list button:hover, 
.settings-list button:focus {
  opacity: .70;
} 

#welcome-section .main-title {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

#welcome-section .description {
  font-weight: 600;
  padding-top: 2em;
  text-align: center;
  width: 80%;
}

.logo-contact-icon {
  background-color: var(--Secondary-Background-Persian-Indigo);
  border-radius: 50%;
  margin: 2em 0;
}

#about-me,
#projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 4.5em 0 4.5em 0;
  text-align: justify;
  width: 90%;
}

#about-me .description {
  padding-bottom: 2em;
}

.two-cols {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.two-cols li {
  list-style: none;
}

#about-me .subtitle,
#projects .project-title {
  color: var(--Icon-Chetwode-Blue);
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: .1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

#skill-list .subtitle {
  color: var(--Active-Letter-Gray);
  font-size: inherit;
  letter-spacing: normal;
}

#about-me .icons {
  color: var(--Button-Anakiwa);
  font-size: 2.5em;
}

.line-breaks {
  background-color: var(--Secondary-Background-Persian-Indigo);
  border: 0;
  height: 3px;
  margin: 0 3em;
}

#projects article {
  background-color: var(--Secondary-Background-Violet);
  border-radius: 10px;
  box-shadow: var(--Box-Shadow-Dark);
  margin-bottom: 2em;
  padding: 1.5em;
  text-align: center;
  width: fit-content;

}

.projects {
  padding: 0;
}

.projects a {
  text-decoration: none;
}

.projects li {
  list-style: none;
}

.projects .project-subtitle {
  padding-bottom: 1em;
  text-transform: uppercase;
}

.container-project-img {
  padding-bottom: 1em;
}

.project-img {
  border-radius: 10px;
  box-shadow: var(--Box-Shadow-Dark);
  max-height: 100%;
  max-width: 100%;
}

.muted-text {
  color: var(--Icon-Chetwode-Blue);
  text-transform: uppercase;
}

article .description {
  padding-bottom: 1em;
}

.project-btn,
.live-btn {
  border-radius: 10px;
  font-size: .7em;
  font-weight: 700;
  margin-bottom: 1em;
  padding: 1em;
  text-transform: uppercase;  
  transition: color 0.3s ease-out;
}

.project-btn {
  background-color: transparent;
  border: 3px solid var(--Active-Icon-Lila);
  box-shadow: var(--Box-Shadow-Light-Btn);
  color: var(--Active-Icon-lila);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.live-btn {
  background-color: var(--Button-Anakiwa);
  box-shadow: var(--Box-Shadow-Color-Btn);
  border: none;
  color: var(--Background-Night-Black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.project-btn:hover, 
.live-btn:hover,
.btn-carousel:hover {
  opacity: .9;
}

.project-two-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.code {
  color: transparent;
  transition: color 0.3s ease-out;
  font-size: 1em;
}

.project-two-btn:hover .code {
  color: var(--Button-Anakiwa);
}

#blog {
  padding: 4.5em 0 4.5em 0;
}

#blog .description {
  padding-top: 2em;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}

#blog .subtitle {
  color: var(--Icon-Chetwode-Blue);
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
}

footer {
  background-color: var(--Background-Night-Black);
  padding: 4.5em 0 4.5em 0;
}

.icons-container {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0 1em 0;
}

.contact-icons {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.contact-icons li {
  list-style: none;
}

.contact-icons .contact-icon-link {
  text-decoration: none;
}

.contact-icons .icon {
  font-size: 1.5em;
  color: var( --Icon-Chetwode-Blue);
}

.contact-icons .icon:hover {
  opacity: .70;
}

@media (min-width: 600px) {
  header {
    display: flex;
    padding: 0;
  }

  .settings {
    top: 12rem
  }

  .two-cols {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 900px) {
  .projects {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 0;
    text-align: center;
  }

  .contact-icons .icon {
    font-size: 2.5em;
    color: var( --Icon-Chetwode-Blue);
  }
}

@media (min-width: 1500px) {
  body {
    background-color: var(--Secondary-Background-Violet);
    display: flex;
    justify-content: center;
    }

  .wrapper,
  header  {
    max-width: 1400px;
  }

  .settings {
    left: -1300px;
  }
}